* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    font-size: 12px;
    line-height: 30px;
    color: black;
    background: white;

}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input [type="text"],
#contact input [type="email"],
#contact input [type="password"] 
#contact input [type="radio"],
#contact input [type="checkbox"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px Helvetica, Arial, sans-serif;
}

#contact {
    background: #e6e6e6;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h2 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px 0 15 px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%
    
}

#contact input [type="text"],
#contact input [type="email"],
#contact input [type="password"],
#contact input [type="radio"],
#contact input [type="checkbox"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input [type="text"]:hover,
#contact input [type="email"]:hover,
#contact input [type="password"]:hover,
#contact input [type="radio"]:hover,
#contact input [type="checkbox"]:hover,
#contact textarea:hover {
border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: both;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    color: #eafaff;
    background: #21838a;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#courses {
    width:100%;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 6px;
}

li {
	color: #FFFFFF;
}
ul#menu li {
	display:inline;
}


.topnav {
	overflow: hidden;
	background-color: #A9A9A9;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #FF0000;
	color: #000000;
}
.topnav a.active {
	background-color: #000000;
	color: #FFFFFF;
}

