body {
	background: rgb(2,0,36);
	background: linear-grandient(90deg, rgba(2,0,36,1) 14%, rgba(16,198,255,1) 49%, rgba(19,18,18,1) 85%);
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
li {
	color: #FFFFFF;
}
ul#menu li {
	display:inline;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.topnav {
	overflow: hidden;
	background-color: #A9A9A9;
}
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #FF0000;
	color: #000000;
}
.topnav a.active {
	background-color: #000000;
	color: #FFFFFF;
}

table, td, th {
    border: 5px solid rgba(255, 255, 255, 0.966);
    border-collapse: collapse;
    padding: 15px;
    text-align: justify;
    border-spacing: 3px;
    margin-top: 85px;
}

table {
	color: whitesmoke;
	
}

h2.tableheader {
    color: whitesmoke;
    text-align:center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

caption {
	font-weight: bold;
	font-size: 30px;
}
